@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.top-bar {
    position: fixed;
    padding-top: 47px;
    padding-bottom: 0px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: start;
    align-items: center;
}

.dark-mode-button,
.back-button {
    position: absolute;
    height: 24px;
    margin: 10px;
    padding: 0px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode-button {
    right: 0;
    width: 24px;
}

.back-button {
    left: 0;
}