@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 0px;
    padding-bottom: 34px;
    position: fixed;
    bottom: 0;
    left: 0;
}